﻿<style>

    label.error {
    font-size: 14px;
    color: red;
}

</style>
<div class="content">
   <div class="container">
      <div class="row align-items-stretch justify-content-center no-gutters">
         <div class="col-md-7">
            <div class="form h-100 contact-wrap p-5">
               <h3 class="text-center" id="form_title">Login to continue</h3>
               <form class="mb-5" method="post" id="loginForm" name="loginForm">
                   <div id="bad-login-message" class="mb-2 text text-danger"></div>
                  <div class="row">
                     <div class="col-md-12 form-group mb-3">
                        <label for="" class="col-form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username">
                     </div>
                     <div class="col-md-12 form-group mb-3">
                        <label for="" class="col-form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                     </div>
                  </div>
                  <div class="row justify-content-center">
                     <div class="col-md-5 form-group text-center">
                        <input type="submit" value="Login" class="btn btn-block btn-primary rounded-0 py-2 px-4">
                        <span class="submitting"></span>
                     </div>
                  </div>
               </form>
               <div id="form-message-warning mt-4"></div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="~/js/login.js"></script> 