﻿@page
@model IndexModel
@using Monitor.Model
@{
    ViewData["Title"] = "Home page";
}

<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs4.min.css">

    <div class="right_col" role="main">

        <div style="margin-left: 250px" id="date-validation" hidden>
            <span class="text-danger font-weight-bold">Start date must be earlier than end date!</span>
        </div>
        <div class="row">
            <div class="col-4" style="max-width: 200px">
                <label>Select state</label>
                <select class="form-control form-select" id="state-select" >
                    <option value="@FacilityState.Benue">@FacilityState.Benue</option>
                    <option value="@FacilityState.Lagos">@FacilityState.Lagos</option>
                    <option value="@FacilityState.FCT">@FacilityState.FCT</option>
                    <option value="@FacilityState.Nasarawa">@FacilityState.Nasarawa</option>
                    <option value="@FacilityState.Kaduna">@FacilityState.Kaduna</option>
                    <option value="@FacilityState.Enugu">@FacilityState.Enugu</option>
                    <option value="@FacilityState.Delta">@FacilityState.Delta</option>
                    <option value="@FacilityState.Rivers">@FacilityState.Rivers</option>
                    <option value="@FacilityState.Plateau">@FacilityState.Plateau</option>
                </select>
            </div>
            <div class="col-6" id="date-range" style="margin-top: 22px">
                <div class="form-inline d-block">
                
                    <span class="ml-2 mr-2">From</span>
                    <input class="form-control w-25" autocomplete="off" type="text" placeholder="Select date" name="range-start" id="start">

                    <span class="ml-2 mr-2">to</span>
                    <input class="form-control w-25" autocomplete="off" type="text" placeholder="Select date" name="range-end" id="end">
                    <button type="button" class="ml-3 btn btn-secondary" id="filterByDate">Go</button>
                </div>
            
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                    <h3>Patient Submissions</h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 ">
                    <div id="facilitySubmission"></div>
                </div>
                <div class="col-md-6 col-sm-6" style="margin-left:25%">
                    <div id="facilitySubmissionPercent"></div>
                </div>
                <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-6">
                        <h3>Patient Distribution</h3>
                        </div>
                        <div class="col-md-6">
                        <div id="reportrange" class="pull-right">
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 ">
                        <div id="patientDistribution"></div>
                    </div>
                    <hr />
                    <div class="col-md-12 col-sm-12 ">
                        <div id="ageDistribution"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Data Abstractor</h3>
                        </div>
                        <div class="col-md-6">
                            <div id="reportrange" class="pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 ">
                        <div id="dataAbstractor"></div>
                    </div>
                    <hr />
                    <div class="col-md-12 col-sm-12 ">
                        <div class="form-group mb-3" style="max-width: 500px">
                            <label>Select facility</label>
                            <select class="form-control form-select" id="facility-ab-select" >
                                <option value="">Select facility</option>
                            </select>
                        </div>
                        <div id="formPerAbstractor"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">
                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Form Type Submissions</h3>
                        </div>
                        <div class="col-md-6">
                            <div id="reportrange" class="pull-right">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12 x_title">
                            <h5>TB Screening and Case Indetification Forms</h5>
                        </div>
                        <div style="max-width: 500px">
                            <label>Select Form</label>
                            <select class="form-control form-select" id="tbScreening-select"  >
                                <option value="98">TB Screening</option>
                                <option value="92">TB Referral Form</option>
                                <option value="85">TB Index Patient Contact Ivestigation</option>
                                <option value="97">Presumptive TB Register</option>
                            </select>
                        </div>
                        <div id="tbScreening"></div>
                    </div>
                    <hr />
                    <div>
                        <div class="col-md-12 x_title">
                            <h5>TB Laboratory Register</h5>
                        </div>
                        <div style="max-width: 500px">
                            <label>Select Form</label>
                            <select class="form-control form-select" id="tbLab-select" >
                                <option value="102">TB Laboratory Form</option>
                                <option value="89">Specimen Request Form</option>
                                <option value="99">Specimen Result Form</option>
                            </select>
                        </div>
                        <div id="tbLaboratory"></div>

                    </div>
                    <hr />
                    <div>
                        <div class="col-md-12 x_title">
                            <h5>TB Treatment</h5>
                        </div>
                        <div style="max-width: 500px">
                            <label>Select Form</label>
                            <select class="form-control form-select" id="tbTreatment-select" >
                                <option value="82">DR TB Treatment Register</option>
                                <option value="100">TB patient Referral or Transfer</option>
                                <option value="101">TB treatment initiation card</option>
                                <option value="94">TB treament monitoring form</option>
                                <option value="93">TB interruption tracking form</option>
                                <option value="88">DR TB in-patient Discharge Form</option>
                                <option value="81">TB LGA Health Facility Register</option>
                            </select>
                        </div>
                        <div id="tbTreatment"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js" ></script>
<script src="~/js/dashboard.js" asp-append-version="true"></script>
