﻿@page "/report-log"
@using Monitor.Model
@model Facilities.Web.Dashboard.Pages.Non_FunctionalModel
@{
}
<link rel="stylesheet" href="~/css/non-fucntional.css"> 
<div class="right_col mb-5" role="main">
    <!-- Modal -->
    <div class="modal fade" id="report-log-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Log report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form contact-wrap p-5">
                <h3 class="text-center" id="form_title">What is your complaint?</h3>
                <form class="mb-5" method="post" id="contactForm" name="contactForm">
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                        <label for="" class="col-form-label">Name <i class="text-danger">*</i></label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                        <label for="state-select" class="col-form-label">State <i class="text-danger">*</i></label>
                        <select class="form-control form-select" required name="state" id="state-select" >
                            <option value="">Select</option>
                            <option value="@FacilityState.Benue">@FacilityState.Benue</option>
                            <option value="@FacilityState.Lagos">@FacilityState.Lagos</option>
                            <option value="@FacilityState.FCT">@FacilityState.FCT</option>
                            <option value="@FacilityState.Nasarawa">@FacilityState.Nasarawa</option>
                            <option value="@FacilityState.Kaduna">@FacilityState.Kaduna</option>
                            <option value="@FacilityState.Enugu">@FacilityState.Enugu</option>
                            <option value="@FacilityState.Delta">@FacilityState.Delta</option>
                            <option value="@FacilityState.Rivers">@FacilityState.Rivers</option>
                            <option value="@FacilityState.Plateau">@FacilityState.Plateau</option>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                        <label for="facility-select" class="col-form-label">Facility <i class="text-danger">*</i></label>
                        <select class="form-control form-select" required name="facilityName" id="facility-select" >
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                        <label for="budget" class="col-form-label">Select complaint <i class="text-danger">*</i></label>
                        <select class="form-control form-select" required name="complaint" id="complaint-select" >
                            <option value="">Select</option>
                            <option value="@ComplaintType.Data_Loss">Data loss</option>
                            <option value="@ComplaintType.Poor_Availability">Poor availability</option>
                            <option value="@ComplaintType.No_required_field">No required field</option>
                            <option value="@ComplaintType.Error_on_Form_Submission">Error on form submission</option>
                            <option value="@ComplaintType.Users_Name_Creation_Error">Users name creation error</option>
                            <option value="@ComplaintType.No_Valid_Option">No valid option</option>
                            <option value="@ComplaintType.Others">Others</option>
                        </select>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-12 form-group mb-3" id="messageForm">
                        <label for="message" class="col-form-label">Message <i class="text-danger">*</i></label>
                        <textarea class="form-control" name="complaintMessage" id="message" cols="30" rows="4" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-5 form-group text-center">
                        <input type="submit" value="Report" class="btn btn-block btn-primary rounded-0 py-2 px-4">
                        <span class="submitting"></span>
                        </div>
                    </div>
                </form>
                <div id="form-message-warning mt-4"></div>
                <div class="text-center" id="form-message-success">
                    Your message was sent, thank you!
                </div>
            </div>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>-->
        </div>
      </div>
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" data-toggle="modal" data-target="#report-log-modal">
            <i class="fa fa-plus text text-dark"></i> 
            <span class="text text-light">Log Report</span>
        </a>
    </div>

    <div>
        <table id="reportTable" class="table table-striped table-bordered" style="width:100%">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">State</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Complaint</th>
                <th scope="col">Message</th>
                <th scope="col">Entered on</th>
            </tr>
            </thead>
        </table>
    </div>
</div>



<script src="./js/non-functional.js" asp-append-version="true"></script>