﻿@page "/tb-indicators"
@model TbIndicatorModel
@{
    ViewData["Title"] = "Tb Indicators";
}
<style>
    body{
        background: #F7F7F7
    }
</style>

<div class="right_col mb-5" role="main">
        <table id="tbIndicator" class="table table-striped table-bordered" data-page-length='10' style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">IP</th>
                    <th scope="col">State</th>
                    <th scope="col">Facility Name</th>
                    <th scope="col">Datim Code</th>
                    <th scope="col">ART Number</th>
                    <th scope="col">Sex</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Enrolment Date</th>
                    <th scope="col">Weight At Enrolment</th>
                    <th scope="col">WHO Stage AtEnrolment</th>
                    <th scope="col">Symptoms</th>
                    <th scope="col">CD4 Count At HIV Diagnosis</th>
                    <th scope="col">Date Of First CD4</th>
                    <th scope="col">TB Status At Enrolment</th>
                    <th scope="col">RegimenAtARTStart</th>
                    <th scope="col">Prior ART</th>
                    <th scope="col">ART Start Date</th>
                    <th scope="col">Current ARV Regimen</th>
                    <th scope="col">Reasons For Stopping ARVs</th>
                    <th scope="col">Current Weight</th>
                    <th scope="col">Current Weight Date</th>
                    <th scope="col">TPT Start Date</th>
                    <th scope="col">TPT Completion Date</th>
                    <th scope="col">Current TB Staatus</th>
                    <th scope="col">CD4 Count Current</th>
                    <th scope="col">Date Of Current CD4</th>
                    <th scope="col">Current Viral Load</th>
                    <th scope="col">Date of Current Viral Load</th>
                    <th scope="col">TB Treatment Completed</th>
                </tr>
            </thead>
        </table>
</div>
<script src="~/js/tbIndicator.js"></script>